process {
    // Default container for processes (Normalization and Parsing)
    container = 'docker://cdslsahinalp/variant-annotation'
    executor  = 'local'

    withName: 'AnnotateVariants' {
        // Use the official VEP container for the annotation step
        container = 'docker://ensemblorg/ensembl-vep:release_112.0'
    }
}

singularity {
  enabled   = true
  autoMounts = true
}